

.home {
  flex: 1;
  font-family: 'Roboto',sans-serif;
  background-color: #202125;
  display: flex;
  width: 100%;
  color: white;
  height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left:16.67%;
  margin-right:16.67%;
  align-items: flex-start;
  width: 100vw;
}

.home .l1 {
  font-size: 3vw;
  font-weight:900;
}

.home .l2 {
  display: flex;
  font-size: 2.25vw;
  color: rgb(153, 150, 150);
  justify-content: center;
}

/* @media only screen and (max-width: 600px) {
  .home .l2 {
    display: none;
  }
} */