.S_body{

    flex: 1;
    background-color: #202125;
    display: flex;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    font-weight: bold;
    color: white;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: white;
    height: 100vh;
    font-size: 900%;
    z-index: 998;
}


.S_title{
width: 100%;
display: flex;
font-size: 4vw;
justify-content: center;
margin-top: 10vh;
margin-bottom: 5vh;
}
 
.verse{
    font-size: 2vw;
    font-weight: 300;
    margin-bottom:2.5vh;
}